{% extends 'layout.html' %}

{% block body %}
  <h3>Hakkımda</h3>
  <hr>
  Eğitim hayatım boyunca edindiğim mesleki ve teorik bilgileri, öğretim alanında kazanacağım pratik
bilgilerle birleştirip alanımda yetkin bir öğretmen olmayı amaçlıyorum. Eğitimci bir aileden gelen, sürekli
eğitime inanan ve öğrenmeye açık biri olarak kurumunuza katkı sağlarken kendimi de geliştirebileceğimi
düşünüyorum. Hedefim kısa vadede kurumunuza değer katmak; uzun vadede ise topluma yararlı, çağdaş
bireyler yetiştirmek. Hedeflerim doğrultusunda, eğitim geçmişime ve kişisel özelliklerime uygun bu alanda
çalışmak istiyorum.

  <hr>
{% endblock body %}